<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1068312078013-bcij5pja7ft8230djol890g9se448evh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1068312078013-bcij5pja7ft8230djol890g9se448evh</string>
	<key>API_KEY</key>
	<string>AIzaSyCYkWZroAPfs4Clmrv-MJPB4d4fGwa21-w</string>
	<key>GCM_SENDER_ID</key>
	<string>1068312078013</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.maimoreb.bambooPracticalExam</string>
	<key>PROJECT_ID</key>
	<string>bambupracticalexam</string>
	<key>STORAGE_BUCKET</key>
	<string>bambupracticalexam.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1068312078013:ios:e93c229dbb2ccf4e1a39d4</string>
</dict>
</plist>